* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    padding: 20px;
    background-image: url(https://image.freepik.com/vector-gratis/varias-salpicaduras-sangre-o-pintura_38668-16.jpg);
    background-repeat: space;
    font-weight: bold;
    margin-bottom: 0;
}

.articulo {
    /* margin: 10px; */
    padding: 20px;
}

.taran {
    float: right;
    padding: 10px;
    height: 240px;
}

.actors {
    background-image: linear-gradient(180deg, #E7EBDA, #f09527);
}

.card-border {
    border: solid 10px whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover {
    transform: scale(1.07);
}

.footer {
    background-image: url(https://img.freepik.com/foto-gratis/fondo-negro-granulado_113767-3068.jpg?size=626&ext=jpg);
}